@model Portfolio.Models.ProjectFilterListViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


<body class="container-fluid">
    <div class="container topruimte" id="paginatop">
        <article id="alles page">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Ludwig Henry</h1>
                    <p class="lead">.net developer</p>
                    <hr class="my-4">
                    <p>
                        Ik volg momenteel een cevora opleiding tot .net developer.
                        <br />Meer over mij:
                        <br />
                        <br /><a type="button" class="btn btn-dark" href="#about">About</a>
                    </p>
                </div>
            </div>

            <div id="about" class="topruimte">
                <h1>Over Ludwig</h1>
                <p>
                    Ik volg momenteel een cevora opleiding tot .net developer.
                    Die opleiding verloopt vlot.
                    <br />
                    Buiten deze opleiding vind ik het leuk te vechten.
                    <br />
                    Geregeld word ik geplaagd door existentiële vragen. Dit is normaal in een wereld die richting totale vernietiging gaat.
                </p>
            </div>



            <hr />
            @if (Model.Projecten.Count() == 0)
            {
                <p>Er zijn nog geen projecten</p>
            }
            else
            {
                @for (int i = 0; i < Model.Projecten.Count(); i++)
                {

                    <div class="row projruimte projgroup">
                        <h1>@Model.Projecten.ElementAt(i).Titel</h1>
                        <div class="col-lg-6">
                            <img src="@Model.Projecten.ElementAt(i).Image" onclick="imageFull(this)" />
                        </div>
                        <div class="col-lg-4 offset-lg-1">
                            <p>@Model.Projecten.ElementAt(i).Beschrijving</p>
                            <p>Dit project is @Model.Projecten.ElementAt(i).Status .</p>
                            <a type="button" class="btn btn-dark" asp-controller="Home" asp-action="Project" asp-route-id="@Model.Projecten.ElementAt(i).Id">Meer info</a>
                        </div>
                    </div>
                    <div class="row projgroup">
                        <p>
                            @string.Join(" ", Model.Projecten.ElementAt(i).Tags.ToArray())
                        </p>
                    </div>
                }
            }




        </article>


        <p>Search</p>
        <form asp-controller="Home" asp-action="Index" method="get">
            <div class="form-group">
                <label asp-for="Tags"></label>
                <input class="form-control" asp-for="Tags" />
                <span class="text-danger" asp-validation-for="Tags"></span>
            </div>

            <div class="form-group">
                <label asp-for="StatusId"></label>
                <select class="form-control" asp-for="StatusId">
                    <option value="0">All</option>
                    <option value="1">Afgewerkt</option>
                    <option value="2">In progress</option>
                    <option value="3">To do</option>
                </select>
                <span class="text-danger" asp-validation-for="StatusId"></span>
            </div>

            <button class="btn btn-primary" type="submit">Search</button>

        </form>

    </div>



</body>

